name: Latest writeups
on:
  schedule:
    - cron: "0 15 * * *"
  workflow_dispatch:
jobs:
  update-blog-post:
    name: Update latest writeups
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "BLOG-WR"
          commit_message: "Update writeups"
          max_post_count: "3"
          feed_list: "https://fahmifj.github.io/categories/writeup/index.xml"
